html {
    background-color: #fff;
}

header, footer {
    width: 100%;
}

footer {
    font-size: 12px;
    font-family: Arial;
    color: #000;
}

.wrap {
    width: 92%;
    margin: 0 auto;
    padding: 20px 0;
}

.txt-center {
  text-align: center;
}

.form-control {
  padding: 6px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.required {
  font-size: 16px;
  color: rgba(221, 44, 40, 1);
}

/* Estilo barra de ruta de navegacion */
.breadcumbs{
  padding: 6px;
  margin: 0 0 20px;
  min-height: 28px;
  border-radius: 5px;
  background-color: #337ab7;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
}

/* Estilos titulo modulo */
.titulo{
  width: 50%;
  border-radius: 5px;
  padding: 3px 0;
  margin: 0 25% 20px;
  background-color: #8fbf5c;
  box-shadow: 2px -2px 2px #888888;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* Estilo Header del DataTable */
table.dataTable thead{
  background-color: #366092;
  color: #fff;
}

/* Estilos del autocompletar */
.md-autocomplete-suggestions-container, ul.ui-autocomplete{
    z-index: 9999 !important;
}

md-autocomplete-wrap{
  display: block;
  height: 34px !important;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

md-autocomplete[disabled]:not([md-floating-label]) md-autocomplete-wrap{
  background-color: rgb(245,245,245);
}

md-autocomplete[disabled]:not([md-floating-label]){
  background: #fff;
}

md-chips md-autocomplete-wrap{
  border: 0px;
}

md-chips md-autocomplete{
  min-width: 300px;
}

md-autocomplete-wrap.md-whiteframe-z1{
  box-shadow: 0 0 0;
}

md-autocomplete input:not(.md-input){
  height: 34px !important;
}

.panel-default>.panel-heading {
  background-color: #dedede;
}

/* Estilos listado de Procesos */
a.pro-name{
    line-height: 30px;
}

.form-horizontal .control-label{
  text-align: left;
}

.form-horizontal .form-group{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.input-group-btn>.btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ng-submitted .form-control.ng-invalid, .form-control.ng-dirty.ng-invalid, .form-control.has-error {
  border-color: #c13131;
}

.help-block.error-help-block{
  color: #c13131;
}

.interno .row .row>div[class^="col-sm"] {
    padding-left: 0;
    /*padding-right: 0;*/
}
