.txt-center {
    text-align: center;
}

header, footer {
    width: 100%;
}

footer {
    font-size: 12px;
    font-family: Arial;
    color: #000;
}

.navbar {
    margin: 10px 0px;
    border-radius: 0px;
}

.navbar-dark .navbar-nav>li>a{
    color: #FFF;
}

.navbar-dark .nav>li>a:focus, .navbar-dark .nav>li>a:hover{
    background-color: transparent;
    color: #EEE;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Estilos de la cuadricula del menu de inicio */

a.shortcut-button:hover {
    text-decoration: none;
}

a.shortcut-button .badge {
    background-color: transparent;
}

a.shortcut-button .title {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 600;
}

a.shortcut-button img {
    width: 50%;
    height: auto;
}


a.shortcut-button {
    width: 176px;
    height: 128px;
}

span.title {
    font-size: 13px;
    line-height: 20px;
}

a.shortcut-button.btn1 {
    background-color: #60a917;
}

a.shortcut-button.btn2 {
    background-color: #da5a53;
}

a.shortcut-button.btn3 {
    background-color: #1ba1e2;
}

a.shortcut-button.btn4 {
    background-color: #00aba9;
}

a.shortcut-button.btn5 {
    background-color: #fa6800;
}

a.shortcut-button.btn6 {
    background-color: #1b6eae;
}

a.shortcut-button.btn7 {
    background-color: #6a00ff;
}

a.shortcut-button.btn8 {
    background-color: #825a2c;
}

a.shortcut-button.btn9 {
    background-color: #a20025;
}

a.shortcut-button.btn10 {
    background-color: #76608a;
}

a.shortcut-button.btn11 {
    background-color: #008a00;
}

a.shortcut-button.btn12 {
    background-color: #647687;
}

a.shortcut-button.btn13 {
    background-color: #ce352c;
}

a.shortcut-button.btn14 {
    background-color: #6d8764;
}

a.shortcut-button.btn15 {
    background-color: #bf5a15;
}

a.shortcut-button.btn16 {
    background-color: #9a165a;
}

a.shortcut-button.btn17 {
    background-color: #0050ef;
}

a.shortcut-button.btn18 {
    background-color: #87794e;
}

/* Estilo Header de }l DataTable */
table.dataTable thead{
    background-color: #366092;
    color: #fff;
}

/* Estilo breadcumbs */
.breadcrumb.bg-primary{
    background-color: #337ab7;
}

.breadcrumb.bg-primary>li>a{
    color: #FFF;
}

.breadcrumb.bg-primary>li>a:focus, .breadcrumb.bg-primary>li>a:hover, .breadcrumb.bg-primary>li.active{
    color: #EEE;
    text-decoration: none;
}
